---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Bg from '@/components/Bg';
import Container from '@/components/Container';
import PageHeaderDesc from '@/components/PageHeaderDesc';
import PageHeaderTitle from '@/components/PageHeaderTitle';
import {
  SupportEnterprise,
  SupportToggle,
  SupportVolleyballCard,
  SupportVolleyballFaq,
} from '@/components/Support';

import '@/styles/support.css';
---

<BaseLayout title="Поддержать волейбольную команду">
  <main class="relative z-0 text-center">
    <Bg className="opacity-10" />

    <section class="py-16 md:pb-32 md:pt-20">
      <Container className="max-w-screen-lg">
        <header>
          <PageHeaderTitle>
            Поддержать волейбольную команду RWChallenge
          </PageHeaderTitle>
          <PageHeaderDesc className="mt-2">
            Сымые сложные вызовы, которые уже приняты, требуют регулярную
            поддержку.
          </PageHeaderDesc>
        </header>
      </Container>

      <div class="mt-6 md:mt-8">
        <Container>
          <div>
            <SupportToggle product={'/volleyball'} client:load />

            <div class="mt-16 md:mt-20">
              <SupportVolleyballCard />

              <div class="mt-10 md:mt-20">
                <SupportEnterprise />
              </div>

              <div class="mt-32 md:mt-40">
                <Container className="max-w-screen-md">
                  <PageHeaderTitle as="h2" className="mb md:text-4xl">
                    FAQ
                  </PageHeaderTitle>
                  <div class="mt-10">
                    <SupportVolleyballFaq client:load />
                  </div>
                </Container>
              </div>
            </div>
          </div>
        </Container>
      </div>
    </section>
  </main>
</BaseLayout>
