---
import BaseLayout from '@/layouts/BaseLayout.astro';
import HomeHero from '@/components/HomeHero';
import HomeCommunity from '@/components/Community';
import { ActionList } from '@/components/Action';
import { ResourceHomeList } from '@/components/Resource';
---

<BaseLayout>
  <main class="overflow-x-hidden text-center">
    <HomeHero client:load />
    <ResourceHomeList />
    <ActionList />
    <HomeCommunity />
  </main>
</BaseLayout>
