---
const { title, class: className } = Astro.props;
---

<div
  class:list={[
    'flex items-center border-b border-b-emerald-100/5 py-3',
    className,
  ]}
>
  <div class="text-xs tracking-widest uppercase opacity-40">
    {title}:
  </div>
  <div class="ml-auto flex items-center text-right">
    <slot />
  </div>
</div>
